* {
    box-sizing: border-box;
}

body {
    background-color: teal;
}

h1 {
    text-align: center;
    color: yellow;
    font-style: italic;
}

#mainContainer {
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
  
#etchASketch {
    border: 1px solid red;
    border-radius: 10%;
    /* padding: 10px; */
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
}

#sketchContainer {
    border: 1px solid black;
    width: 500px;
    height: 500px;
}
  
.row {
    display: flex;
    flex: 1 1 auto;
}
  
.createdDiv {
    border: 1px solid lightslategray;
    background-color: lightgray;
}

.buttons {
    border: 1px solid white;
    /* width: 500px; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: lightgray;
}

.buttons button:hover {
    background-color: rgb(172, 180, 189);
}

button {
    margin: 15px 0;
}