* {
    box-sizing: border-box;
  }
  
  #etchASketch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #sketchContainer {
    border: 1px solid red;
    width: 500px;
    height: 500px;
  }
  
  .row {
    display: flex;
    /* gap: 2px; */
    flex: 1 1 auto;
  }
  
  .createdDiv {
    border: 1px solid blue;
    /* width: 25px;
    height: 25px; */
    /* margin-bottom: 2px; */
  }